/* ForecastDisplay.css */

.forecast-container {
    background: #f0f8ff52;
    padding: 20px;
    border-radius: 12px;
    box-shadow: o 2px 8px rgba(0,0,0,0.1);
    width: 60vw;
    height: fit-content;
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

.forecast-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.days-wrapper {
    display: flex;
    gap: 1rem;
}

.day-card {
    background: rgba(255, 255, 255, 0.174);
    padding: 0.6rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
}

.day-card img {
    width: 48px;
    height: 48px;
}

.hourly-wrapper {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    width: 60vw;
    overflow: auto;
}

.hour-card {
    background: rgba(95, 92, 92, 0.178);
    padding: 0.6rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    text-align: center;
    min-width: 4rem;
    flex: 1;
    scroll-snap-align: start;
}

.hour-card img {
    width: 48px;
    height: 48px;
}